/* Footer.css */

.footer {
  background-color: #e10000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}