/* CSS for the "Join Us" button and hover effect */
 
  
  /* CSS for the "Join Us" button with shadow and hover effect */
.join-us-button {
    display: inline-block;
    font-family: 'Poppins', sans-serif;

    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Initial shadow effect */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out,
      box-shadow 0.3s ease-in-out; /* Add transitions for both shadow and background color */
  }
  
  .join-us-button:hover {
    font-family: 'Poppins', sans-serif;

    background-color: #cd0a03; /* Change the background color on hover */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Additional shadow effect on hover */
    transform: translateY(-2px); /* Add a slight vertical lift effect on hover */
  }
  